<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Benu Power</title>
    <link rel="stylesheet" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=DM+Serif+Display&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="image">
      <!-- <img class="pic" src="/pic.jpg" alt=""> -->
      Jules Comte
      test again
    </div>
    <div class="name">
      Rosalie Comte
    </div>
  </body>
</html>
