<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Benu Power</title>
    <link rel="stylesheet" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

  </head>
  <body>
    <div class="image">
      <img class="pic" src="/pic.jpg" alt="">

    </div>
    <div class="name">
    <p>Jules Comte</p>
    <p>contact at jules dot cx</p>
    </div>
  </body>
</html>
