body{
  background-color: black;
}

p{
  font-family: 'DM Serif Display', serif;
  color: white;
  text-align: center;
  margin-top: 10%;
  font-size: 5rem;
}

.pic{
  /* display: inline; */
  height: 100px;
  /* margin-left: 100px; */
}

.image{
  background-color: red;
  /* display: inline; */
  float: left;
  width: 50%;
  height: 500px;
}

.name{
  color: white;
  background-color: green;
  /* display: inline; */
  float: left;
  width: 50%;
  height: 500px;
}
