body{
  background-color: black;
}

p{
  font-family: 'Roboto', sans-serif;
  color: white;
  text-align: center;
  /* margin-top: 10%; */
  font-size: 3rem;
}

.pic{
  /* display: inline; */
  height: 300px;
  /* margin-left: 100px; */
}

.image{
  /* background-color: red; */
  /* display: inline; */
  float: left;
  width: 30%;
  height: 500px;
  text-align: center;
  padding-top: 10%;
  /* padding-left: 2%; */
}

.name{
  color: white;
  /* background-color: green; */
  /* display: inline; */
  float: left;
  width: 70%;
  height: 500px;
  padding-top: 10%;
}
