body {
  background-color: black;
  margin: 0;
}

p {
  font-family: 'Roboto', sans-serif;
  color: white;
  text-align: left;
  font-size: 3rem;
}

.pic {
  width: 75%;
}

.image {
  background-color: red;
  width: 30%;
  float: left;
  padding-top: 10%;
  padding-left: 5%;
}

.name {
  color: white;
  background-color: green;
  width: 70%;
  float: left;
  padding-top: 10%;
  padding-left: 5%;
}

@media (max-width: 1000px) {
  .name {
    float: none;
    width: 100%;
    padding-top: 15%;
  }

  .image {
    float: none;
    width: 100%;
    padding-top: 50px;
  }

  .pic {
    height: 100%;
    width: auto;
  }
}
